body { 
  margin: 0;
  background-color: white;
}

html,body{
  height: 100%;
}

.jumbotron
{
  background-size: cover;
  background-repeat: no-repeat;
  height: 30%;
  margin-bottom: 0px !important; /*Override bootsrap's jumbotron styling*/
}

.jumbotron-image {
  background-image: url('amazon-banner.PNG');
}

/*No longer used*/
.banner { 
  padding: 30px; /* fills out the jumbotron */
  background-color: #111;
  height: 30%;
   background: url('amazon-banner.PNG');
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.open-jobs {
  width:75%;
  float: left; 
  height: 100vh;
  border-right:  1px solid black;
}

.extra {
  width:24%;
  float: right;
  height: 100vh;
}

/*no longer used*/
.li-position {
  margin:5px;
}
/*
.li-position: {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}*/

.button {
    /*background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-edit {
  background-color: #008CBA; 
  color: white;
}

.button-add {
  background-color: #4CAF50; 
  color: white;
}

.button-edit:hover {
    background-color: white; 
    color: black;
    border: 2px solid #008CBA;
}

.button-add:hover {
    background-color: white; 
    color: black;
    border: 2px solid #4CAF50;
}

.ul-photo-list {
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
    list-style-type: none;
}

section {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

section a {
  background: #4CAF50;
  margin: 15px 15px;
  padding: 30px;
  border-bottom: 10px;
  margin-bottom: 20px;

}
div#one {
   
    height: 200px;
    padding: 10px 10px 10px 10px;
    float: left;
}
div#two {
    float: left;
    height: 200px;
     padding: 10px 10px 10px 10px;
}
div#three {
    float: left;
    height: 200px;
     padding: 10px 10px 10px 10px;
    
}
div#four {
    float: left;
    height: 200px;
     padding: 10px 10px 10px 10px;
    
}
/*
.banner {
/*  width: 100%px; 
  margin: 0 auto;  
  padding: 0 15px; 
  height:100%;
  background: url('amazon-banner.PNG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*STYLES FOR new_job_posting.html*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

/*input[type=reset] {
    width: 20%;
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset]:hover {
  background-color: #01779e; 
}

.new_job {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.button-cancel {
  width: 20%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #d9534f; 
}

.button-cancel:hover {
  background-color: #c64541; 
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%
}

.job-description {
    height: 300px;
}

.req {
  height: 200px;
}


/*STYLES FOR curr_job_posting.html*/

.curr-job-title {
  width:75%;
  border: none;
  float: left;
}

.curr-job-description {
  width:76%;
  border: none;
  float: left;
}

.extra-buttons {
  width: 24%;
  float: right;
}


.button-cancel-2 {
  width: 25%;
  color: white;
  padding: 14px 20px;
  margin: 8px 3%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #d9534f; 
}

.button-cancel-2:hover {
  background-color: #c64541; 
}

.button-edit-2 {
  width:25%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #008CBA;
}

.button-edit-2:hover {
  background-color: #01779e;
}

.button-filled {
  width: 25%;
  color: white;
  padding: 14px 20px;
  margin: 8px 3%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50; 
}

.button-filled:hover {
  background-color: #45a049; 
}

.ul-applicants {
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
    list-style-type: none;
}

.img-with-text {
    text-align: justify;
    width: 200px;
    height: 200px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.applicants {
  padding-top: 20px
}

